body {
    margin: 0 10% 0 10%;
    padding: 0;
    max-width: inherit;
    background: linear-gradient(to top,#ffffff , #A6B6BA);
}
header {
    height: 3vh;
    margin: 0;
    background-color: white;

}
footer{
    height: 4vh;
    font-size: large;
    text-align: center;
    padding: 0 0;
    background: darkblue;
    color: #f9f9f9;
    display: flex;
    flex: 0 0 auto;
}
.content {
    flex: 1 0 auto;
}

.content {
    min-height: calc(100vh - 4vh);
}
nav {
    background: white;
    overflow: hidden;
}
main {
    background: #f9f9f9;
    overflow: hidden;
}
aside {
    background: #eee;
}
/* FLEXBOX-BASED LAYOUT */
body {

    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: linear-gradient(to top,#ffffff , #A6B6BA);
}
.container {
    -webkit-box-shadow: -5px 0px 23px -1px rgba(107,138,143,1);
    -moz-box-shadow: -5px 0px 23px -1px rgba(107,138,143,1);
    box-shadow: -5px 0px 23px -1px rgba(107,138,143,1);
    display: flex;
    flex: 1;
}
main {
    flex: 1;
    padding: 0 0;
    flex-direction: column;
    display: flex;
}
nav {
    flex: 0 0 24%;
    order: -1;
}


.Order__num{ /*левая часть элемента списка*/
    float: left;
    width: 60%;
    height: 100%;
    background: white;
    text-align: left;
    
}
.Order__date{ /*правая часть элемента списка*/
    float: right;
    width: 40%;
    height: 100%;
    background: white;

}
.nav-icon-container{
    display: flex;
    justify-content: flex-start;
    padding: 20px 30px;
    background-color: rgb(241, 244, 253);
    height: 20%;
}
.nav-icon-item{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid transparent;
    font-size: 25px;
    background-color: #5478df;
    margin-right: 20px;
    transition-duration: .3s;
    cursor: pointer;

}
.nav-icon-iten{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid transparent;
    font-size: 25px;
    background-color: white;
    margin-right: 20px;
    transition-duration: .3s;
    cursor: pointer;

}
.left hr{
    margin-bottom: 0;
}

.Order{
    width: 100%;
    height: 30vh;
    background: powderblue;
    text-align: center;
    overflow: hidden;
    border-bottom: 1px solid black;
}
.shippingAdress{
    width: 100%;
    height: 30vh;
    background: white;
    border-bottom: 1px solid black;
    overflow:auto;
    margin-bottom: 0;
}
.Order__Cost{
    background: powderblue;
    float: right;
    width: 45%;
    height: 100%;
    margin-right: 5%;
    text-align: right;
}
.Order__Cost h3{
    margin-bottom: 0;
}
.Order__Imform{
    padding-top: 2%;
    float: left;
    height: 100%;
    width: 45%;
    background: powderblue;
    margin-left: 5%;
    text-align: left;

}
.Order__Strip{
    margin-top: 0.5vh;
}
h4{
    margin-top: 5%;
    margin-bottom: 5%;
    font-weight: 100;
}
h3{
    margin-top: 5%;
    margin-bottom: 5%;
    font-weight:300;

}
.table h3{
    margin-left: 5%;
    margin-bottom: 1px;
}
.orders{
    margin-left: 30%;vertical-align: top;
}
.scrolling-table__first-row{
    background: rgba(149,147,146,0.84);
}
h5{
    margin-bottom: 1%;
    font-weight: 100;
    margin-top: 0;
    font-size: 0.83em;
}
.shippingAdress__margins{
    height:40%;
    width: 29%;
    float: left;
    background: white;
    text-align: right;

}
.shippingAdress__meanings{
    height: 40%;
    width: 70%;
    float: right;
    text-align: left;
    background :white;
}

.shippingAdress hr{
    width:90%;
    margin:1em auto;
    border:none;
    height:1px;
    background:black;
    margin-top: 1px;
}
.shippingAdress p{
    margin-left: 5%;
    margin-top: 2%;
    margin-bottom: 1px;
}

.list__container li{
    list-style-type:none;
    width: 99%;
    height: 100px;
    border-bottom: 1px solid black;
}

.list__container ul{
    margin-top: 0;
    width: 100%;
    margin-right: 0;
    margin-left: 0;
    padding-left: 0;
}
.Order__date h5{
    color: green;
    margin-left: 48%;
}
.footer__filter{
height: inherit;
    width: 24%;
    background: rgba(30,50,75,0.84);
    border-right: 1px solid white;

}
.footer__mail{
height: inherit;
    width: 76%;
    background: rgba(30,50,75,0.84);

}
.list__container{
    width:100%;
    overflow: auto;
    height: 89%;
    display: flex;
}
.pic{
    padding-top: 2px;
    float: right;
}
.table{
    height: 36vh;
    width: 100%;
    background: rgba(235,233,232,0.69);
    margin-top: 0;
    flex-direction: column;
    display: flex
}
.lc { /* Стиль для первой колонки */
    text-align: left;
}
.search {

    width: 96%;
    margin-bottom: 1%;
    margin-left: 2%;
    position: relative;
    background: white;
}

.search input {

    border: none;
}

.search .input {
    width: 100%;
    padding: 4px 37px 4px 15px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    box-shadow: inset 0 0 5px rgba(0,0,0,0.1), inset 0 1px 2px rgba(0,0,0,0.3);
    background: white;
    font: 13px Tahoma, Arial, sans-serif;
    color: #555;
    outline: none;
}


.search .input:focus {
    box-shadow: inset 0 0 5px rgba(0,0,0,0.2), inset 0 1px 2px rgba(0,0,0,0.4);
    background: #E8E8E8;
    color: #333;
}


.search .submit {
    position: absolute;
    top: 0;
    right: 0;
    width: 37px;
    height: 100%;
    cursor: pointer;
    background: url(../img/go.png) 50% no-repeat;
    opacity: 0.5;
}
.search .submit:hover {
    opacity: 0.8;
}
input[type="search"] {
    -webkit-appearance: none;
}
::-webkit-scrollbar{
    width:12px;
}

::-webkit-scrollbar-thumb{
    border-width:1px 1px 1px 2px;
    border-color: #777;
    background-color: #aaa;
}

::-webkit-scrollbar-thumb:hover{
    border-width: 1px 1px 1px 2px;
    border-color: #555;
    background-color: #777;
}

::-webkit-scrollbar-track{
    border-width:0;
}


.scrolling-table {
    width: 90%; /* Ширина таблицы */
    height: 27vh;
    background: white;
    flex-direction: column;
    margin-left: 5%;
    margin-right: 5%;
    overflow: auto;

}

.scrolling-table th {
    color: darkslategrey;

}
.Order__date h5{
    margin-left: 48%;
}
.scrolling-table tr td {
    width: 100%;
    padding: 2% 5px;
    border-bottom: 1px solid darkgrey;
    text-align: center;
    color: #666;
}
.scrolling-table tr {
    display: table;
    width: 100%;
    table-layout: fixed;
    border-color: rgba(197,195,194,0.69);
}
.scrolling-table tr td:last-child {
    border-right: none;
}

.scrolling-table tr:last-child td {
    border-bottom: none;
}
.scrolling-table tbody {
    display: block;
    height: 100%;
    width: 100%;
    overflow: hidden;
    overflow-y: auto;}

.templates{
    visibility: hidden;
}

#blockscreen, #modalwindow {
    position: fixed;
}
#blockscreen {
    background: rgba(0, 0, 0, .5);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 10;
}
#modalwindow {
    z-index: 11;
    background: #fff;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #a1a1a1;
    box-shadow: 0 0 10px #444;

}



form {
    font-family: sans-serif;
    border: 1px solid #D4DADB;
    padding: 0 15px;
    border-radius: 3px;
    background-color: white;
}

form img {
    width: 80px;
    vertical-align: middle;
}

fieldset {
    padding: 0;
    margin: 0;
    margin: 15px 0;
    border: none;
}

label {
    width: 80px;
    font-size: 14px;
    display: inline-block;
}

form input {
    border: 1px solid #C1C1C1;
    padding: 3px 5px;
    margin: 7px;
    font-weight: bolder;
    width: 260px;
}

form input:valid + span {
    content: url(http://htmlbook.ru/example/images/ok.png);
}

form input:invalid + span {
    content: url(http://www.clker.com/cliparts/4/3/1/f/1195436930767206781not_ok_mark_h_kon_l_vdal_01.svg);
    height: 15px;
    vertical-align: middle;
    margin-left: -3px;
}
.sum {
    margin-top: 10px;
    padding: 10px;
    background-color: #E3E3E3;
    border-radius: 3px;
}
.sum input {
    padding: 2px 15px;
    margin-left: 95px;
    border-radius: 15px;
    border: 2px solid #008F00;
    background: linear-gradient(#00E000, #008F00);
    color: white;
}

.model {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 50px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 1, 1, 0.8);
}


.modelContent {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 600px;
/ / text-align: center;
}

.modelContent input {
    margin: 5px;
}

/* The Close Button */
.closeOrder {
    color: #aaaaaa;
    float: right;
    margin-top: -25px;
    font-size: 36px;
    font-weight: bold;
}

.closeProduct {
    color: #aaaaaa;
    float: right;
    margin-top: -25px;
    font-size: 36px;
    font-weight: bold;
}

.closeUpdate {
    color: #aaaaaa;
    float: right;
    margin-top: -25px;
    font-size: 36px;
    font-weight: bold;
}

.closeUpdate:hover,
.closeUpdate:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.closeOrder:hover,
.closeOrder:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.closeProduct:hover,
.closeProduct:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.plusProduct {
    width: 8%;
    float: right;
   padding-top: 35px;
}

.items {
    width: 100%;
    height: 330px;
    background: #fafafa;
}
.lineItems {
    margin: 0;
    padding: 35px 10px 10px 35px;
    font-size: 19px;
    display: inline-block;
    float: left;
    width: 60%;
}
.editAddress {
    float: left;
    margin-left: 30%;

}
.info{
    display: none;
}
#globe {
    display: none;
    height: 400px;
    width: 95%;
    margin: 1em;
}